@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');


header img{
    width:100%;
    height:100% !important;
    background-color: black;
}


.titulo{
    font-size: 40px;
    font-family: 'Just Another Hand', cursive;
    color: black;
    text-align: center;

}

.subtitulo{
    font-size:20px;
    font-family: 'Just Another Hand', cursive;
    color: rgb(255, 255, 255);
    text-align: left;
}

.texto{
    font-size:15px;
    text-align: left;


}

.icono{
    text-align: center;;
}
.icono img{
    width:200px !important;
    height:200px !important;
    padding: 10px;
}
.barra .titulo{
    color: aliceblue;
}

.servicios {
    height:50% !important;
}

.servicios img{
    width:80px;
    height:80px;
}


.img-public img{
    height:40% !important;

}

.espacio{
    color: aliceblue;
    width:100%;
    padding:50px;
    text-align:center;
}



footer {
    background-color:#000000;
    color: aliceblue;
    width:100%;
    height:100%;
    text-align:center;
    /* position: fixed; */
    bottom: 0;
    margin-top: -0px;
 
 }
 
 footer p{  
     font-size: 25px;   
     color:#fff;
     text-align:center;
 }

 .icono-footer>img{
    height:150px;
    width:150px;
    
 }

 .footer-redes p:hover{
     background-color: #fff;
     color:#000000;
 }

@media (min-width: 1200px) {

    .img-public{
        padding: 10px;
    }
}

@media (min-width: 768px) {

    .img-public{
        padding: 10px;
    }

    .servicios p{
        font-size: 12px !important;
    }

    .icono img{
        width:150px !important;
        height:150px !important;
    }

}

@media (min-width: 320px) {
    .img-public{
        padding: 10px;
    }

    .img-public>img{
        width:100%;
        height:100%;
    }


}
