@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');


header img{
    width:100%;
    height:680px !important;
    background-color: black;
}


.titulo{
    font-size: 40px;
    font-family: 'Just Another Hand', cursive;
    color: black;
    text-align: center;

}

.subtitulo{
    font-size:20px;
    font-family: 'Just Another Hand', cursive;
    color: rgb(255, 255, 255);
    text-align: left;
}

.texto{
    font-size:15px;
    text-align: left;


}

.icono{
    text-align: center;;

}
.icono img{
    width:200px !important;
    height:200px !important;
}
.barra .titulo{
    color: aliceblue;
}

.section{
    margin-top:10px;
}
.img-public{
    margin-top:5px;
    width:200px !important;
    height:350px !important;
}

.servicios img{
    width:100px;
    height:100px;
}

.espacio{
    color: aliceblue;
    width:100%;
    padding:50px;
    text-align:center;
}

footer {
    background-color:#000000;
    color: aliceblue;
    width:100%;
    height:100%;
    text-align:center;
    /* position: fixed; */
    bottom: 0;
    margin-top: -00px;
 
 }
 
 footer p{  
     font-size: 25px;   
     color:#fff;
     text-align:center;
 }

 .icono-footer>img{
    height:100px;
    width:100px;
    
 }

 .footer-redes p:hover{
     background-color: #fff;
     color:#000000;
 }
